@charset "UTF-8";
@import url(../css/anim.css);
:root {
  --bg-content-color: #ddd;
  --dummy-img: url(../images/dummy.svg);
  --a-wrap-top-position: 30px;
  --a-wrap-right-position: 80px;
  --a-wrap-has-pre-right-position: 0px;
  --a-wrap-width: 70vw;
  --footer-height: 30px;
  --content-start-time: 0.3s;
  --a-wrap-widget-width: 20vw;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-blend-mode: lighten;
  overflow: hidden;
}
body * {
  box-sizing: border-box;
}
body a {
  color: #666;
  -webkit-text-decoration-color: #666;
          text-decoration-color: #666;
}
body a:hover {
  -webkit-text-decoration-color: #000;
          text-decoration-color: #000;
}

.bg .bg-center {
  position: absolute;
  top: 13vh;
  left: 14vw;
  z-index: 2;
  width: 70vw;
  height: 70vh;
  background-color: var(--bg-content-color);
}
.bg .type-bg {
  position: absolute;
  top: 1rem;
  z-index: 0;
  width: 94vw;
  height: 90vh;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-mask-repeat: no-repeat;
  font-family: fantasy;
}
.bg .type-bg.bg-top-mask {
  left: 1rem;
  text-align: left;
  -webkit-mask-position: top left;
}
.bg .type-bg.bg-top-mask p {
  margin: 0 auto 0 0;
  -webkit-animation: typing 3s steps(50);
          animation: typing 3s steps(50);
}
.bg .type-bg.bg-bottom-mask {
  right: 1rem;
  text-align: right;
  -webkit-mask-position: bottom right;
}
.bg .type-bg.bg-bottom-mask p {
  margin: 0 0 0 auto;
  -webkit-animation: typing 3s steps(50);
          animation: typing 3s steps(50);
}
.bg .type-bg p {
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
  color: var(--bg-content-color);
}
.bg .bg-logo {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  padding-left: 20px;
  width: 20vw;
  height: 20vw;
  background-color: #fff;
  color: var(--bg-content-color);
  font-size: 4rem;
}

@-webkit-keyframes typing {
  0% {
    width: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
}
@-webkit-keyframes change-origin {
  50% {
    transform-origin: bottom;
    translate: 0px 0;
  }
  100% {
    transform-origin: center;
    translate: calc(0px - var(--a-wrap-right-position)) 0;
  }
}
@keyframes change-origin {
  50% {
    transform-origin: bottom;
    translate: 0px 0;
  }
  100% {
    transform-origin: center;
    translate: calc(0px - var(--a-wrap-right-position)) 0;
  }
}
.new-posts {
  position: relative;
  top: 0;
  left: 0;
  z-index: 3;
}
.new-posts .img-list {
  margin: 20px auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  transform: skew(-40deg);
  list-style: none;
  filter: drop-shadow(30px 0px 30px rgba(0, 0, 0, 0.4));
}
.new-posts .img-list li {
  margin: 8vh auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transform: skewX(40deg) scale(1.3);
  transition-duration: 0.5s;
}
.new-posts .img-list li div.bg-image,
.new-posts .img-list li a.bg-image {
  display: inline-block;
  height: 20vh;
  width: 35vw;
  overflow: hidden;
  box-sizing: border-box;
  border-top: 8vh solid rgba(255, 255, 255, 0.6);
  border-right: 8vh solid transparent;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}
.new-posts .img-list li div.bg-image span,
.new-posts .img-list li a.bg-image span {
  font-size: 4rem;
  color: #fff;
  border: 3px solid;
  border-left: none;
  border-right: none;
  padding: 0px 3rem;
}
.new-posts .img-list li div.bg-image p,
.new-posts .img-list li a.bg-image p {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  margin: 3px;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4901960784);
  font-weight: bolder;
  text-align: end;
  color: #fff;
  opacity: 1;
}
.new-posts .img-list li a.bg-image:hover {
  box-shadow: -10px 10px 3px rgba(0, 0, 0, 0.3);
}
.new-posts .img-list li a.bg-image:hover p {
  display: block;
}
.new-posts .img-list li:nth-child(2) a.bg-image {
  text-align: right;
}

nav.clip-menu {
  position: fixed;
  z-index: 10000;
}
nav.clip-menu li a,
nav.clip-menu .collapse button {
  position: relative;
  z-index: 10000;
  margin: 10px;
  padding-left: 1rem;
  display: block;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 30vw;
  max-width: 300px;
  border: none;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  color: black;
  background-color: #ffffff;
  background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.431372549), transparent);
  line-height: 3rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: start;
  pointer-events: all;
  transform: rotate(5deg);
  transform-origin: left;
}
nav.clip-menu li a:hover,
nav.clip-menu .collapse button:hover {
  transition-duration: 0.5s;
  transform: rotate3d(-5, -20, 0, -20deg);
}
nav.clip-menu ul.menu-list {
  position: relative;
  bottom: 0px;
  z-index: 100;
  height: calc(100vh - 30px - 6rem);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  opacity: 1;
}
nav.clip-menu ul.menu-list[disabled=disabled] {
  opacity: 0;
  display: none;
}
nav.clip-menu ul.menu-list[disabled=disabled] li a {
  pointer-events: none;
}
nav.clip-menu ul.menu-list li:has(.sub-menu) > ul.sub-menu {
  list-style: none;
  display: none;
}
nav.clip-menu ul.menu-list li:has(.sub-menu):hover > ul.sub-menu {
  display: block;
}
nav.clip-menu ul.menu-list li:has(.sub-menu):hover > ul.sub-menu li {
  transform: rotate(0deg);
}
nav.clip-menu ul.menu-list li a {
  background-color: #FFBECD;
}
nav.clip-menu ul.menu-list li:nth-child(2n) a {
  background-color: #FFCEBE;
}
nav.clip-menu ul.menu-list li:nth-child(3n) a {
  background-color: #C9F2DF;
}
nav.clip-menu ul.menu-list li:nth-child(4n) a {
  background-color: #FFF5BE;
}
nav.clip-menu ul.menu-list li:nth-child(5n) a {
  background-color: #bedeff;
}

aside.side-widget {
  position: absolute;
  top: 20vh;
  z-index: 10;
  width: var(--a-wrap-widget-width);
  height: calc(80vh - 30px);
}
aside.side-widget:after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -5;
  display: block;
  width: 20vw;
  height: calc(80vh - 30px);
  background-color: #ddd;
  rotate: -5deg;
  scale: 1.3;
}
aside.side-widget section.wp-widgets {
  box-sizing: border-box;
  height: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  overflow-y: overlay;
}
aside.side-widget section.wp-widgets > * {
  margin: 5vh 0px;
  padding: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}
aside.side-widget section.wp-widgets > :last-child {
  height: 100%;
}
aside.side-widget section.wp-widgets h2 {
  color: #666;
  text-align: center;
  border: solid;
  border-width: 1px 9px;
}
aside.side-widget section.wp-widgets:has(ul.time-line) .cate_btns {
  position: relative;
  margin: 20px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}
aside.side-widget section.wp-widgets:has(ul.time-line) .cate_btns div {
  position: absolute;
  left: -9999px;
  top: 0px;
}
aside.side-widget section.wp-widgets:has(ul.time-line) .cate_btns div:first-child {
  position: relative;
  left: 0px;
  z-index: 10;
}
aside.side-widget section.wp-widgets:has(ul.time-line) .cate_btns div:has(#cate_open_flg:checked) ~ div {
  position: relative;
  left: 0px;
}
aside.side-widget section.wp-widgets:has(ul.time-line) .cate_btns div input {
  position: absolute;
  left: -99999px;
}
aside.side-widget section.wp-widgets:has(ul.time-line) .cate_btns div input:checked + label {
  box-shadow: 0px 0px 3px 7px rgba(255, 255, 255, 0.4) inset;
}
aside.side-widget section.wp-widgets:has(ul.time-line) .cate_btns div label {
  margin: 5px;
  padding: 5px;
  --cate-button-size: 30px;
  width: var(--cate-button-size);
  height: var(--cate-button-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
  background-color: #464646;
  color: #fff;
  transition: left 0.5s;
}
aside.side-widget section.wp-widgets:has(ul.time-line) ul.time-line {
  position: relative;
  list-style: none;
  height: 80%;
}
aside.side-widget section.wp-widgets:has(ul.time-line) ul.time-line li {
  margin: 10px;
}
aside.side-widget section.wp-widgets:has(ul.time-line) ul.time-line li div.dot {
  margin: 0px auto;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
}
aside.side-widget section.wp-widgets:has(ul.time-line) ul.time-line li a {
  margin: 0px auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 3rem;
  font-size: 1.3rem;
  color: black;
  text-decoration: none;
}
aside.side-widget section.wp-widgets:has(ul.time-line) ul.time-line li#opened {
  position: absolute;
  padding: 30px;
}
aside.side-widget section.wp-widgets:has(ul.time-line) ul.time-line li#opened a {
  background-color: #666;
  color: #fff;
  margin-left: -20px;
  padding-right: 20px;
  box-shadow: 3px 3px 3px 3px #ddd;
  border-radius: 50px 100% 100% 50px;
}
aside.side-widget section.wp-widgets:has(ul.time-line) ul.time-line li#opened a::before {
  content: "●";
  margin: 10px;
}
aside.side-widget section.wp-widgets:has(ul.time-line) ul.time-line.hide,
aside.side-widget section.wp-widgets:has(ul.time-line) .cate_btns.hide {
  display: none;
}
aside.side-widget section.wp-widgets div:has(form.wp-block-search) form.wp-block-search * {
  padding: 5px;
  border-radius: 10px;
}
aside.side-widget section.wp-widgets ul.wp-block-latest-posts,
aside.side-widget section.wp-widgets ol.wp-block-latest-comments {
  padding: 0px;
}
aside.side-widget section.wp-widgets ul.wp-block-latest-posts,
aside.side-widget section.wp-widgets ol.wp-block-latest-comments,
aside.side-widget section.wp-widgets ul.wp-block-archives-list,
aside.side-widget section.wp-widgets ul.menu,
aside.side-widget section.wp-widgets ul.wp-block-page-list,
aside.side-widget section.wp-widgets .widget_meta > ul {
  list-style: none;
  padding: 0px;
}
aside.side-widget section.wp-widgets ul.wp-block-latest-posts li,
aside.side-widget section.wp-widgets ol.wp-block-latest-comments li,
aside.side-widget section.wp-widgets ul.wp-block-archives-list li,
aside.side-widget section.wp-widgets ul.menu li,
aside.side-widget section.wp-widgets ul.wp-block-page-list li,
aside.side-widget section.wp-widgets .widget_meta > ul li {
  padding: 30px;
  display: block;
  margin: 10px 0px;
  text-decoration: none;
  line-height: 2rem;
  border-bottom: 3px solid #DDD;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
aside.side-widget section.wp-widgets ul.wp-block-latest-posts li:hover,
aside.side-widget section.wp-widgets ol.wp-block-latest-comments li:hover,
aside.side-widget section.wp-widgets ul.wp-block-archives-list li:hover,
aside.side-widget section.wp-widgets ul.menu li:hover,
aside.side-widget section.wp-widgets ul.wp-block-page-list li:hover,
aside.side-widget section.wp-widgets .widget_meta > ul li:hover {
  background-color: #ddd;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) inset;
}
aside.side-widget section.wp-widgets p.wp-block-tag-cloud {
  display: flex;
}
aside.side-widget section.wp-widgets p.wp-block-tag-cloud a {
  display: block;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 50px;
}
aside.side-widget section.wp-widgets ul.wp-block-categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0px;
  list-style: none;
  gap: 10px;
}
aside.side-widget section.wp-widgets ul.wp-block-categories-list li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
aside.side-widget section.wp-widgets ul.wp-block-categories-list li a {
  display: block;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 50px;
}
aside.side-widget section.wp-widgets ul.wp-block-categories-list li ul {
  list-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
}
aside.side-widget section.wp-widgets ul.wp-block-categories-list li:hover > ul {
  display: block;
}
aside.side-widget section.wp-widgets .wp-block-comments ol.wp-block-comment-template li.comment div.wp-block-comment-author-name a {
  display: block;
  background-color: #fff;
  box-shadow: 1px 5px 0px 1px rgba(0, 0, 0, 0.25);
  vertical-align: top;
  font-size: 1.5rem;
  color: #666;
  text-decoration: none;
}
aside.side-widget section.wp-widgets .wp-block-comments ol.wp-block-comment-template li.comment a {
  font-size: 1rem;
}

div.preview-widget {
  position: fixed;
  top: 20vh;
  left: calc(var(--a-wrap-widget-width) + 2vw + 65px);
  z-index: 20;
}
div.preview-widget .preview-list {
  height: calc(80vh - 30px);
  width: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background-color: #ddd;
  background-image: linear-gradient(0deg, #fff, rgba(0, 0, 0, 0.5) 50%, #D9D9D9 50%, #D9D9D9 51%, rgba(0, 0, 0, 0.5) 51%, #fff);
}
div.preview-widget .preview-list div.img {
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  border-radius: 50px;
  background-position: center;
  background-size: cover;
  -webkit-animation: widthSizeUp 1s 1 cubic-bezier(0.6, -0.28, 0.24, 1.34) forwards;
          animation: widthSizeUp 1s 1 cubic-bezier(0.6, -0.28, 0.24, 1.34) forwards;
}
div.preview-widget .preview-list div.img .tip {
  position: absolute;
  right: 0;
  display: none;
  transition: display 0.3s, right 0.3s;
}
div.preview-widget .preview-list div.img:hover {
  -webkit-animation: prunAnim 1s 1 cubic-bezier(0.6, -0.28, 0.24, 1.34) forwards;
          animation: prunAnim 1s 1 cubic-bezier(0.6, -0.28, 0.24, 1.34) forwards;
}
div.preview-widget .preview-list div.img:hover .tip {
  right: -100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  border-radius: 0px 10px 10px 10px;
  background-color: #000;
  color: #fff;
}
div.preview-widget .preview-list a {
  border: solid transparent;
  border-width: 0px 65px 0px 60px;
  box-sizing: border-box;
}
div.preview-widget .preview-list a#pre-back {
  border-bottom: #D9D9D9 40px solid;
}
div.preview-widget .preview-list a#pre-next {
  border-top: #D9D9D9 40px solid;
}

@-webkit-keyframes widthSizeUp {
  from {
    width: 50px;
  }
  to {
    width: 100px;
  }
}

@keyframes widthSizeUp {
  from {
    width: 50px;
  }
  to {
    width: 100px;
  }
}
@-webkit-keyframes prunAnim {
  70% {
    width: 50px;
  }
  80% {
    width: 130px;
  }
  100% {
    width: 100px;
  }
}
@keyframes prunAnim {
  70% {
    width: 50px;
  }
  80% {
    width: 130px;
  }
  100% {
    width: 100px;
  }
}
@-webkit-keyframes circleanime2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes circleanime2 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
body:has(.preview-widget) div.content-body {
  top: 0px;
  right: 0px;
  padding: 40px 0px 0px 40px;
}
body:has(.preview-widget) div.content-body div.content-wrap {
  padding: 30px;
  box-sizing: border-box;
}
body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap {
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap .imag-wrap {
  width: 50%;
}
body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap .imag-wrap img {
  height: auto;
  width: 100%;
  filter: drop-shadow(-15px -15px 34px rgba(0, 0, 0, 0.25));
}
body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap .comment-wrap {
  margin: 0px;
  width: 40%;
}
body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap .comment-wrap ul {
  padding: 0px;
  list-style: none;
}
body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap .comment-wrap ul p {
  display: inline-block;
  min-width: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap .comment-wrap ul p.label {
  font-weight: bold;
}
body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap .comment-wrap ul p.unknown {
  color: #666;
}
body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap .comment-wrap ul li.content {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

div.content-body {
  position: fixed;
  top: var(--a-wrap-top-position);
  right: var(--a-wrap-right-position);
  z-index: 5;
  padding-top: 40px;
  box-sizing: border-box;
  width: var(--a-wrap-width);
  height: calc(100vh - var(--a-wrap-top-position) - var(--footer-height));
  background-color: #ddd;
}
div.content-body::before {
  content: "";
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  rotate: -2deg;
}
div.content-body div.content-wrap {
  margin-top: 30px;
  padding: 60px 40px;
  width: 100%;
  height: 100%;
  overflow: overlay;
}
div.content-body div.content-wrap .wp-block-site-title a,
div.content-body div.content-wrap h1 {
  display: block;
  text-align: center;
  color: #666;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}
div.content-body div.content-wrap h2 {
  --h2-left-space: 20px;
  border-left: var(--h2-left-space) solid #fcbd7a;
  padding-left: var(--h2-left-space);
  width: 100%;
}
div.content-body div.content-wrap h3 {
  color: #666;
  border: #666 3px solid;
  padding: 10px;
}
div.content-body div.content-wrap section[class$=-wrap],
div.content-body div.content-wrap h1,
div.content-body div.content-wrap h2,
div.content-body div.content-wrap h3,
div.content-body div.content-wrap div[class$=-wrap],
div.content-body div.content-wrap div[class*=wp-block] {
  margin: 40px 0px;
}
div.content-body div.content-wrap img {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
}
div.content-body div.content-wrap div.wp-block-site-logo img {
  border-radius: 50%;
}
div.content-body div.content-wrap pre.wp-block-verse {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
}
div.content-body div.content-wrap .wp-block-calendar table caption {
  background-color: #40464d;
  color: #fff;
}
div.content-body div.content-wrap .page-links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
div.content-body div.content-wrap .page-links > a,
div.content-body div.content-wrap .page-links > span {
  min-width: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}
div.content-body div.content-wrap .page-links > a {
  border: 3px solid black;
}
div.content-body div.content-wrap .page-links > a:hover {
  background-color: black;
  color: #fff;
}
div.content-body div.content-wrap .page-links > span {
  background-color: #000;
  color: #fff;
}
div.content-body div.content-wrap .page-links > span.page-links-title {
  display: none;
}
div.content-body div.content-wrap div.imag-slider-wrap {
  width: 100%;
  overflow-x: overlay;
}
div.content-body div.content-wrap div.imag-slider-wrap div.carousel-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
div.content-body div.content-wrap div.wp-block-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
div.content-body div.content-wrap div.wp-block-buttons button,
div.content-body div.content-wrap div.wp-block-buttons a {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  transition: 1s;
}
div.content-body div.content-wrap div.wp-block-buttons button:hover,
div.content-body div.content-wrap div.wp-block-buttons a:hover {
  margin: 0px;
  padding: 20px;
  border: #b4b4b4 1.5px solid;
  border-radius: 50px 50%;
  box-shadow: 0px 0px 16px 10px rgba(255, 255, 255, 0.8705882353) inset;
  color: rgba(255, 255, 255, 0.5803921569);
  text-shadow: 1px 1px 5px #fff;
}
div.content-body div.content-wrap .wp-block-query li.wp-block-post {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
}
div.content-body div.content-wrap .wp-block-query li.wp-block-post > div {
  margin: 20px;
  padding: 0px !important;
}
div.content-body div.content-wrap .wp-block-query li.wp-block-post > div h2 {
  border: none;
  padding: 0px;
}
div.content-body div.content-wrap .wp-block-query li.wp-block-post > div h2 a {
  color: #333;
  -webkit-text-decoration-color: #ddd;
          text-decoration-color: #ddd;
}
div.content-body div.content-wrap ul.wp-block-archives-list,
div.content-body div.content-wrap ul.wp-block-categories-list,
div.content-body div.content-wrap p.wp-block-tag-cloud {
  list-style: none;
}
div.content-body div.content-wrap ul.wp-block-archives-list li,
div.content-body div.content-wrap ul.wp-block-categories-list li,
div.content-body div.content-wrap p.wp-block-tag-cloud li {
  margin: 10px;
  min-width: 110px;
  padding: 10px;
  border-radius: 50px;
  background-color: #666;
}
div.content-body div.content-wrap ul.wp-block-archives-list li a,
div.content-body div.content-wrap ul.wp-block-categories-list li a,
div.content-body div.content-wrap p.wp-block-tag-cloud li a {
  color: #fff;
  text-decoration: none;
}
div.content-body div.content-wrap p.wp-block-tag-cloud a {
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  background-color: #666;
  color: #fff;
  text-decoration: none;
}
div.content-body div.content-wrap ul.wp-block-latest-posts__list {
  background-color: #fff;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
div.content-body div.content-wrap ul.wp-block-latest-posts__list li {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
div.content-body div.content-wrap ul.wp-block-latest-posts__list li a {
  color: #333;
  display: block;
  text-decoration: none;
  border-bottom: 3px solid #ddd;
}
div.content-body div.content-wrap ul.wp-block-latest-posts__list li:hover {
  background-color: #ddd;
}
div.content-body div.content-wrap ul.wp-block-page-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
div.content-body div.content-wrap ul.wp-block-page-list li {
  display: block;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 10vw;
  max-width: 300px;
  background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.431372549), transparent);
  font-size: 1rem;
  transform: rotate(5deg);
  transform-origin: left;
}
div.content-body div.content-wrap ul.wp-block-page-list li:hover {
  transition-duration: 0.5s;
  transform: rotate3d(-5, -20, 0, -20deg);
}
div.content-body div.content-wrap ul.wp-block-page-list li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 1rem;
  background-color: #FFBECD;
}
div.content-body div.content-wrap ul.wp-block-page-list li:nth-child(2n) a {
  background-color: #FFCEBE;
}
div.content-body div.content-wrap ul.wp-block-page-list li:nth-child(3n) a {
  background-color: #C9F2DF;
}
div.content-body div.content-wrap ul.wp-block-page-list li:nth-child(4n) a {
  background-color: #FFF5BE;
}
div.content-body div.content-wrap ul.wp-block-page-list li:nth-child(5n) a {
  background-color: #bedeff;
}
div.content-body div.content-wrap div.wp-block-comments p.form-submit input[type=submit] {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  transition: 1s;
}
div.content-body div.content-wrap div.wp-block-comments p.form-submit input[type=submit]:hover {
  margin: 0px;
  padding: 20px;
  border: #b4b4b4 1.5px solid;
  border-radius: 50px 50%;
  box-shadow: 0px 0px 16px 10px rgba(255, 255, 255, 0.8705882353) inset;
  color: rgba(255, 255, 255, 0.5803921569);
  text-shadow: 1px 1px 5px #fff;
}
div.content-body div.content-wrap div.wp-block-comments h2#comments {
  padding: 0px;
  border: none;
  border-bottom: 1px solid #666;
  color: #666;
  font-size: 1.5rem;
}
div.content-body div.content-wrap div.wp-block-comments ol.wp-block-comment-template * {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}
div.content-body div.content-wrap div.wp-block-comments ol.wp-block-comment-template li.comment {
  margin: 40px;
}
div.content-body div.content-wrap div.wp-block-comments ol.wp-block-comment-template li.comment .wp-block-comment-author-name a {
  display: block;
  background-color: #fff;
  box-shadow: 1px 5px 0px 1px rgba(0, 0, 0, 0.25);
  vertical-align: top;
  font-size: 1.5rem;
  color: #666;
  text-decoration: none;
}
div.content-body div.content-wrap .post-near {
  margin: 40px;
  display: flex;
  justify-content: space-around;
}
div.content-body div.content-wrap .post-near .post-pre,
div.content-body div.content-wrap .post-near .post-next {
  padding: 0.5rem;
  font-size: 1.3rem;
}
div.content-body div.content-wrap .post-near .post-pre a,
div.content-body div.content-wrap .post-near .post-next a {
  color: #000;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
  -webkit-text-decoration-color: #ddd;
          text-decoration-color: #ddd;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
}
div.content-body div.content-wrap .post-near .post-pre a:hover,
div.content-body div.content-wrap .post-near .post-next a:hover {
  -webkit-text-decoration-color: #000;
          text-decoration-color: #000;
}
div.content-body div.content-wrap .search-result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 1em;
}
div.content-body div.content-wrap .search-result h1 {
  grid-row: 1;
  grid-column: 1/4;
}
div.content-body div.content-wrap .search-result article {
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  min-height: 400px;
}
div.content-body div.content-wrap .search-result article ul.meta {
  position: absolute;
  z-index: 1;
  padding: 0px;
  width: 100%;
  list-style: none;
  color: #fff;
  font-weight: bold;
}
div.content-body div.content-wrap .search-result article ul.meta li {
  position: relative;
}
div.content-body div.content-wrap .search-result article ul.meta li.res-item-time {
  padding: 5px;
  width: 50%;
  text-align: center;
  background: #535353;
  border-radius: 0px 10px 10px 0px;
}
div.content-body div.content-wrap .search-result article ul.meta li.res-item-cate ul {
  margin-right: auto;
  padding: 0px;
  list-style: none;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
div.content-body div.content-wrap .search-result article ul.meta li.res-item-cate ul li {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
div.content-body div.content-wrap .search-result article ul.meta li.res-item-cate ul li a {
  padding: 0.3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  color: #333;
  font-size: 0.8rem;
  text-decoration: none;
  background-color: #fff;
}
div.content-body div.content-wrap .search-result article ul.meta li.res-item-title {
  text-align: center;
  padding: 20px;
  text-shadow: 0px 0px 7px black;
}
div.content-body div.content-wrap .search-result article img,
div.content-body div.content-wrap .search-result article a {
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #bedeff;
}
div.content-body div.content-wrap .search-result article:hover {
  box-shadow: none;
}
div.content-body div.content-wrap .search-result article:hover > .text {
  transform: translateY(0px);
}
div.content-body div.content-wrap .search-result article .text {
  position: absolute;
  bottom: 0px;
  z-index: 2;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0px 0px 10px 10px;
  background-color: #464646;
  padding: 20px;
  color: #C9F2DF;
  transform: translateY(300px);
  transition: 0.3s;
}

footer.page-last {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 30px;
  background-color: #000;
  color: #fff;
  text-align: right;
}
footer.page-last div#footer-menu ul {
  margin: 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
footer.page-last div#footer-menu ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer.page-last div#footer-menu ul li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
}
footer.page-last > * {
  margin: 5px 20px;
}

@media screen and (max-width: 1024px) {
  body {
    overflow-y: overlay;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  body:has(.preview-widget) div.content-body {
    right: 0px;
    padding: 40px 40px 0px 0px;
  }
  body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap {
    flex-direction: column;
  }
  body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap div.imag-wrap,
body:has(.preview-widget) div.content-body div.content-wrap.cate-illust section.section-wrap div.comment-wrap {
    width: 100%;
    border: none;
    border-radius: 10px;
  }
  body:has(.new-posts) {
    height: calc(100vh - var(--footer-height));
    overflow: hidden;
  }
  body:has(.new-posts) .bg-logo {
    display: none;
  }
  .new-posts ul.img-list {
    padding: 0px;
    width: 80%;
    transform: none;
  }
  .new-posts ul.img-list li {
    margin: 4vh auto;
    transform: none;
    width: 100%;
  }
  .new-posts ul.img-list li:nth-child(2) a.bg-image {
    width: 90%;
  }
  .new-posts ul.img-list li:nth-child(3) a.bg-image {
    width: 80%;
  }
  .new-posts ul.img-list li a.bg-image {
    margin: auto;
    height: 24vh;
    width: 100%;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .new-posts ul.img-list li a.bg-image span {
    font-size: 1.5rem;
  }
  div.preview-widget {
    position: absolute;
    top: 10vh;
    left: auto;
    right: 0px;
  }
  nav.clip-menu {
    position: fixed;
    top: 87vh;
    left: auto;
    right: 0px;
  }
  nav.clip-menu::before {
    content: "";
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 0px;
    height: 0px;
    border-radius: 100% 100% 0px 100%;
    transform-origin: right bottom;
    transition: height 0.3s linear, width 0.3s linear, border-radius 0.3s linear;
    background-color: #f5f5f5;
  }
  nav.clip-menu:has(ul.menu-list:not([disabled])) {
    display: flex;
    flex-direction: column-reverse;
    bottom: 0px;
    right: 0px;
  }
  nav.clip-menu:has(ul.menu-list:not([disabled]))::before {
    bottom: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
    border-radius: 0%;
    transition: height 0.3s linear, width 0.3s linear, border-radius 0.3s linear;
    box-shadow: -5px -5px 10px 0px rgba(0, 0, 0, 0.25);
    rotate: -1deg;
  }
  nav.clip-menu li a,
nav.clip-menu .collapse button {
    min-width: 50vw;
    box-shadow: -5px -5px 0px 5px rgba(0, 0, 0, 0.25);
    transform: rotate(-3deg);
  }
  nav.clip-menu ul.menu-list {
    top: -50vh;
  }
  div.content-body {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    height: 100%;
  }
  div.content-body::before {
    rotate: 1deg;
  }
  div.content-body div.content-wrap div.search-result {
    grid-template-columns: 1fr;
  }
  aside.side-widget {
    position: static;
    width: 100%;
    height: auto;
    margin: 100px auto;
  }
  aside.side-widget:after {
    content: none;
  }
}/*# sourceMappingURL=style.css.map */